body {
    margin: 0;
}

button {
    width: 200px;
    height: 60px;

}

.loge {

    position: absolute;
    top: 45%;
    left: 45%;

}

.log1 {

    position: absolute;
    top: 40%;
    left: 40%;


}

.but {
    padding-top: 50px;


}