.button {
    width: 100px;
    height: 40px;

}

.loge {

    position: absolute;
    top: 45%;
    left: 45%;

}

.log1 {

    position: absolute;
    top: 40%;
    left: 40%;


}

.but {
    padding-top: 50px;


}

.med {
    margin-top: 50px;
    border: 2px solid darkgrey;
}

.med0 {
    padding-top: 60px;
}

.form-control {
    margin-bottom: 3px;
}

.pre {
    margin-top: 30%;
}

.pre1 {
    margin-top: 20%;
}

.btn {
    width: 97%;
    margin-top: 5%;
}